{{template "base" .}}
 
{{define "title"}}Баланс{{end}}
 
{{define "main"}}
        
        <h2>Список товаров</h2>
        <p><a href="/pavel/create">Добавить</a></p>
              
        <table "id=table" border="1"  >
            <thead><th>Id</th><th>Partnum</th><th>считаем</th><th>количество</th><th>Цена</th><th>Сумма</th><th>Поставщик</th><th>Название</th><th>Примечание</th><th>Дата</th><th></th></thead>
            {{range . }}
            <tr bgcolor={{.Color}}>
                <td>{{.Id}}</td>
                
                <td>{{.Partnum}}</td>
                <td><form method="POST" action="/pavel/add/{{.Id}}">
                    <button type="submit">on/off</button>
                  </form>
                </td>
                <!--<td><a href="/add/{{.Id}}">Добавить</a>>-->
                <td>{{.Qty}}</td>
                <td>{{.Price}}</td>
                <td>{{.Summ}}</td>
                <td>{{.Provider}}</td>
                <td>{{.Name}}</td>
                <td>{{.Remark}}</td>
                <td>{{.Date}}</td>
                <td><a href="/pavel/edit/{{.Id}}">Изменить</a> |
                    <a href="/pavel/delete/{{.Id}}">Удалить</a>
                    
                </td>
            </tr>
            {{end}}
        </table>
        
        <form method="POST" action="/pavel/Checkout">
            <button type="submit">Checkout</button>
          </form>
          
    {{end}}
        
 